@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root{
    --blue: #2e324b;
    --light-pink: #ee9a97;
    --light-blue:#7B8BAD; 
    --pink: #f36e62;

    --menu-height: 75px;

}

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    background: var(--blue);
}

body, button, input, select, textarea{
    font-family: 'Poppins', sans-serif;
    color: white;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 24px;
    color: white;
}

h1, h2{
    margin: 0;
    font-weight: 400;
}

p{
    color: var(--pink);
}

button{
    background:var(--light-pink);
    color:var(--blue);
    border: 0;
    border-radius: 20px;
    padding: 8px 35px;
    font-weight: bold;
    font-size: 18px;
}

header{
    height: calc(100vh - 65px);
    display: flex; /* Alinhar verticalmente */
    align-items: center;
}

header .container{
    width: 60%;
    height: fit-content;
    padding: 0 100px;
}

header .container img{
    display: none;
}

header .container h1{
    color: var(--light-pink);
}

header .container button{
    margin-top: 40px;
}

/* MENU */
nav{
    display: flex;
    align-items: center;
    height: var(--menu-height);
    background:var(--blue) ; /* barra de menu */
    justify-content: space-between;
    padding: 0 100px;
    position: sticky;
    top: 0;
}

nav img{
    height: 45px;
}

nav ul{
    
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul a{
    font-size: 24px;
    color: var(--pink);
    text-decoration: none;
    /* margin: 0 35px; */
}

nav ul a svg{
    display: none;
}

section{
    background:var(--light-pink);
    height: 1500px;
}

/* RESPONSIVIDADE */
/* small desktop */

@media(max-width:1000px){
    header .container{ 
        width: 100%;
       
    }
    nav ul a{
        font-size:18px ;
    }
    nav{
        padding: 0 30px;
    }
}

/* Tablet */
@media(max-width:767px){
 

   header .container img{
       display: inline;
       margin-bottom: 70px;
   }
  
   nav img{
       display: none ;
   }

   nav ul{
       padding: 0;
   }

   nav ul a{
       font-size: 16px;
   }
}

/* celular */
@media(max-width:480px){
    header .container{
        padding: 0 40px;
    }

    nav{
        padding: 0 15px;
    }

    nav ul a{
        font-size: 12px;
    }
    nav ul a svg{
        display: block;
        margin: 0 auto 10px;
    }
}